---
import { Skill } from "./Skills.astro";

export interface Props {
    skill: Skill;
}

const { skill } = Astro.props as Props;
---

<div
    class="merkee-item rounded-lg shadow-lg font-semibold flex align-center p-2 m-2"
>
    <img class="h-9 max-w-none" src={`/img/techs/${skill.img}`} />
    <h2 class="flex font-bold items-center text-sm px-3 py-2 text-gray-500">
        {skill.name}
    </h2>
</div>

<style>
    .merkee-item:hover {
        background-color: darkgrey;
    }
</style>
