---
import MarqueeItem from "./MarqueeItem.astro";
import { Skill } from "./Skills.astro";

export interface Props {
    skills: Skill[];
    reversed?: boolean;
}

const { skills, reversed } = Astro.props as Props;
---

<div class="marquee mb-2">
    <ul
        class={`marquee__content ${reversed ? "marquee__content_reverse" : ""}`}
    >
        {skills.map((skill) => <MarqueeItem skill={skill} />)}
    </ul>
    <ul
        class={`marquee__content ${reversed ? "marquee__content_reverse" : ""}`}
    >
        {skills.map((skill) => <MarqueeItem skill={skill} />)}
    </ul>
</div>

<style>
    /* Marquee styles */
    .marquee {
        --gap: 1px;
        position: relative;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
        overflow: hidden;
    }

    .marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }

    @keyframes scroll-reverse {
        from {
            transform: translateX(calc(-100% - var(--gap)));
        }
        to {
            transform: translateX(0);
        }
    }

    /* Enable animation */
    .marquee__content {
        animation: scroll 20s linear infinite;
    }

    .marquee__content_reverse {
        animation: scroll-reverse 20s linear infinite;
    }

    /* Other page demo styles */
    .marquee__content > * {
        flex: 0 0 auto;
        color: white;
        margin: 2px;
        border-radius: 0.25rem;
        text-align: center;
    }
</style>
