<section class="mb-32 text-gray-800 text-center lg:text-left">
    <div class="px-6 py-12 md:px-12">
        <div class="grid lg:grid-cols-2 lg:gap-x-12 items-center">
            <div class="mb-12 lg:mb-0">
                <img
                    src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="w-full rounded-lg sshadow-lg"
                    alt=""
                />
            </div>
            <div class="mb-12 lg:mb-0">
                <h2
                    class="my-12 text-5xl font-bold tracking-tight leading-tight"
                >
                    Carlos Hinojosa Pinto
                </h2>
            </div>
        </div>
    </div>
</section>
