---
// src/pages/index.astro
import { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
---

<section class="lg:mb-16 text-gray-800 text-center lg:text-left">
    <div class="flex justify-end p-6">
        <LanguageSelector showFlag={true} />
    </div>
    <div class="lg:pb-12">
        <div class="grid lg:grid-cols-2 lg:gap-x-12 items-center">
            <div>
                <img
                    src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="w-full rounded-lg sshadow-lg"
                    alt=""
                />
            </div>
            <div>
                <h2
                    class="my-4 text-3xl lg:text-5xl font-bold tracking-tight leading-tight"
                >
                    {t("hero.title")}
                </h2>
                <div class="flex mb-8 justify-center lg:justify-start">
                    <a href="https://github.com/Carloshin" target="_blank">
                        <i class="fa fa-github text-3xl lg:text-4xl mr-4"></i>
                    </a>
                    <a
                        href="https://www.linkedin.com/in/carlos-hinojosa-pinto/"
                        target="_blank"
                    >
                        <i
                            class="fa fa-linkedin text-3xl lg:text-4xl"
                            style="color:#0072b1;"></i>
                    </a>
                </div>

                <a
                    class="inline-block px-7 py-3 bg-green-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out mb-2 md:mr-2 mb-10"
                    href={t("hero.cv")}
                    role="button"
                    data-mdb-ripple="true"
                    data-mdb-ripple-color="light"
                    target="_blank">{t("hero.downloadCV")}</a
                >
            </div>
        </div>
    </div>
</section>
