---
import ProyectsItem from "./ProyectsItem.astro";
---

<section class="mb-32 text-gray-800 text-center">
    <h2 class="text-3xl font-bold mb-12">Projectos personales</h2>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 lg:gap-6">
        <ProyectsItem
            img="/img/screenshot-sellCars.png"
            title="Sell Cars"
            desc=""
            d="M0,96L48,128C96,160,192,224,288,240C384,256,480,224,576,213.3C672,203,768,213,864,202.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            stack={["next.webp", "ts.webp"]}
            link="https://sell-car-carlosh.vercel.app/cars"
        />
        <ProyectsItem
            img="/img/screenshot-tfg.png"
            title="TFG"
            desc=""
            d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            stack={["react.webp", "php.webp"]}
            link="https://www.tfg.carlosh.es/app/index.php?codigo=13&clave=123"
        />
        <ProyectsItem
            img="/img/screenshot-alacontra.png"
            title="Alacontra"
            desc=""
            d="M0,96L48,128C96,160,192,224,288,240C384,256,480,224,576,213.3C672,203,768,213,864,202.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            stack={["js.webp", "php.webp"]}
            link="http://www.alacontra.de/"
        />
        <ProyectsItem
            img="/img/screenshot-miguelPinto.png"
            title="Miguel Pinto"
            desc=""
            d="M0,288L48,256C96,224,192,160,288,160C384,160,480,224,576,213.3C672,203,768,117,864,85.3C960,53,1056,75,1152,69.3C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            stack={["next.webp", "ts.webp"]}
            link="https://miguel-pinto.vercel.app/"
        />
        <ProyectsItem
            img="/img/screenshot-libros.png"
            title="Libros"
            desc=""
            d="M0,288L48,256C96,224,192,160,288,160C384,160,480,224,576,213.3C672,203,768,117,864,85.3C960,53,1056,75,1152,69.3C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            stack={["laravel.webp"]}
            link="https://libros.carlosh.es/"
        />
        <ProyectsItem
            img="/img/screenshot-photoSearcher.png"
            title="Photo Searcher"
            desc=""
            d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            stack={["react.webp"]}
            link="http://photos.carlosh.es/"
        />
    </div>
</section>
